<!--
    This component is responsible for displaying a list of businesses.
-->


<mat-nav-list>
  <mat-card *ngFor="let business of businesses">
    
    <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ business.businessname }}</mat-card-title>
      <mat-card-subtitle>Template {{ business.templateid }}</mat-card-subtitle>
      <img [src]="imageFileURL + business.imagefilename" width="200"/>
    </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button href="{{ metroAliveURL + '/' + business.url }}"
        >Website Link</a
      >
    </mat-card-actions>
  </mat-card>
</mat-nav-list>
