<!--
    TO-DO:
        - Dynamically generate list of unique templates
        - Use list of unique templates to populate dropdown menu
            - need to figure out where/how to create this list
            - javascript or typescript?
        - Using routing, for each dropdown item, add an href tag that points to URL/:templateId
        - Configure routing to display each business for a given :templateId using *ngIf
            - *ngFor="let business of businesses" *ngIf="business.templateID == :templateId"
--> 


<h2>Businesses</h2>



<app-business-list></app-business-list>

<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let business of businesses">
            <button type="button">
                <a class="dropdown-item" href="{{business.templateId}}">{{business.businessName}}</a>
            </button>
        </li>
    </ul>
  </div>
-->