<!--
    TO-DO:
        - Dynamically generate list of unique templates
        - Use list of unique templates to populate dropdown menu
        - Using routing, for each dropdown item, add an href tag that points to URL/:templateId (semi-completed)
        - Configure routing to display each business for a given :templateId using *ngIf
            - *ngFor="let business of businesses" *ngIf="business.templateID == :templateId"
--> 


<h2>Businesses</h2>

<div class="dropdown">      <!--Will eventually create a more functional layout, displaying this dropdown at all times and adding a more proper navbar-->
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">     <!--This list will eventually be created dynamically, by sorting through the complete list of Businesses-->
      <li><a class="dropdown-item" href="businesses/15">15</a></li>
      <li><a class="dropdown-item" href="businesses/26">26</a></li>
      <li><a class="dropdown-item" href="businesses/36">36</a></li>
      <li><a class="dropdown-item" href="businesses/39">39</a></li>
      <li><a class="dropdown-item" href="businesses/48">48</a></li>
    </ul>
</div>

<app-business-list></app-business-list>  <!--business-list component, should render a list of businesses when a templateId is selected in the dropdown-->