<h1>{{title}}</h1>
<nav>
    <a routerLink="/">Home</a>
  </nav>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Select Template
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <!--
        CSF : 6/2/23
        must use the "|async" when referring to an Observable
      -->
      <ng-container *ngFor='let template of templates|async'>
        <!--
          CSF : 6/2/23
          changed href to routerLink.  href causes the page to reload each time.  routerLink does not.

          -Href is the basic attribute provided by Html to navigate through pages which reloads the page on click.
          -routerLink is the attribute provided by angular to navigate to different components without reloading the page.
          -Major difference between both is that href kills the state of the current page where routerLink doesnt lose the state of the page.
        -->
        <li><a class="dropdown-item" [routerLink]="'businesses/' + template.templateid">{{template.templatename}}</a></li>
      </ng-container>
    </ul>
</div>
<router-outlet></router-outlet>
