<!-- <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Select Template
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <ng-container *ngFor='let template of templates|async'>
        <li><a class="dropdown-item" [routerLink]="'businesses/' + template.templateid">{{template.templatename}}</a></li>
      </ng-container>
    </ul>
</div>
<br> -->
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor='let template of templates|async'>
    <a mat-menu-item [routerLink]="'businesses/' + template.templateid">{{template.templatename}}</a>
  </ng-container>
</mat-menu>
